[submodule ".upstream/stanford-cme-102-ordinary-differential-equations"]
	path = .upstream/stanford-cme-102-ordinary-differential-equations
	url = git@github.com:shervinea/stanford-cme-102-ordinary-differential-equations.git
[submodule ".upstream/stanford-cme-106-probability-and-statistics"]
	path = .upstream/stanford-cme-106-probability-and-statistics
	url = git@github.com:shervinea/stanford-cme-106-probability-and-statistics.git
[submodule ".upstream/stanford-cs-229-machine-learning"]
	path = .upstream/stanford-cs-229-machine-learning
	url = git@github.com:afshinea/stanford-cs-229-machine-learning.git
[submodule ".upstream/stanford-cs-230-deep-learning"]
	path = .upstream/stanford-cs-230-deep-learning
	url = git@github.com:afshinea/stanford-cs-230-deep-learning.git
[submodule ".upstream/stanford-cs-221-artificial-intelligence"]
	path = .upstream/stanford-cs-221-artificial-intelligence
	url = git@github.com:afshinea/stanford-cs-221-artificial-intelligence.git
